---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Not Found">
  <h2>We could not find the page you are trying to reach :sad:...</h2>
  <p>
    You can access the start page of this site by clicking <a
      href="/"
      data-astro-reload>here</a
    >!
  </p>
</BaseLayout>
