---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostList from "../components/BlogPostList.astro";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "My Astro learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Latest Blog Posts</h2>
  <BlogPostList posts={allPosts} />
</BaseLayout>
