---
const platform = "github";
const username = "pluxain";
---

<footer>
  <p>
    Learn more about my projetcts on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
  </p>
</footer>
