<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>
<style>
  div {
    padding-right: 1.5rem;
    cursor: pointer;
  }

  span {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--accent-bg);
  }

  @media screen and (min-width: 636px) {
    div {
      display: none;
    }
  }
</style>
