---
type Props = {
  platform: string;
  username: string;
};

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--white-text);
    background-color: var(--accent-bg);
    text-decoration: none;
  }
</style>
